<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <!-- upload settings -->
    <bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="102400000"></property>
    </bean>

    <!-- aop -->
    <aop:aspectj-autoproxy/>

    <task:annotation-driven executor="loggerExecutor" />
    <!-- 支持 @Async 注解 -->
    <!--<task:executor id="annotationExecutor" pool-size="20"/>-->
    <!--<task:executor id="loggerExecutor" pool-size="5-10" queue-capacity="20" keep-alive="2000" rejection-policy="CALLER_RUNS"></task:executor>-->
    <task:executor id="loggerExecutor" pool-size="5" queue-capacity="10" keep-alive="20" rejection-policy="CALLER_RUNS"></task:executor>

    <!-- scan the package and the sub package -->
    <context:component-scan base-package="com.cd.test"/>

    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler />

    <!-- if you use annotation you must configure following setting -->
    <mvc:annotation-driven />

    <!-- configure the InternalResourceViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="internalResourceViewResolver">
        <!-- 决定视图类型，如果添加了jstl支持（即有jstl.jar），那么默认就是解析为jstl视图 -->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <!-- 前缀 -->
        <property name="prefix" value="/jsp/" />
        <!-- 后缀 -->
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="myPropertyPlaceholder" class="com.cd.test.common.MyPropertyPlaceholder">
        <property name="location">
            <value>classpath:config.properties</value>
        </property>
    </bean>
</beans>