<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- 加载spring的配置文件 -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <!-- 配置spring配置文件加载的位置 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-conf.xml</param-value>
    </context-param>

    <!-- spring-session -->
    <filter>
        <filter-name>springSessionRepositoryFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSessionRepositoryFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <description>Application Listener</description>
        <!--实现了ServletContextListener接口的监听器类 -->
        <listener-class>com.cd.test.project.operation.servlet.listeners.MyApplicationListener</listener-class>
    </listener>

    <listener>
        <description>Session Listener</description>
        <!--实现了ServletContextListener接口的监听器类 -->
        <listener-class>com.cd.test.project.operation.servlet.listeners.MySessionListener</listener-class>
    </listener>


    <!-- log4j2在web工程设置日志文件保存在工程目录内 -->
    <listener>
        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>isLog4jAutoInitializationDisabled</param-name>
        <param-value>true</param-value>
    </context-param>

    <session-config>
        <session-timeout>30</session-timeout><!-- 单位为分钟,在达到这个时间之后session失效，并触发sessionDestroyed事件 -->
    </session-config>

    <servlet>
        <servlet-name>servlet01</servlet-name>
        <servlet-class>com.cd.test.project.operation.servlet.Servlet01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet01</servlet-name>
        <url-pattern>/servlet_01</url-pattern>
    </servlet-mapping>

    <!-- Spring mvc -->  <!--configure the setting of springmvcDispatcherServlet and configure the mapping-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvc-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--    <error-page>
            <error-code>404</error-code>
            <location>/jsp/hello.jsp</location>
        </error-page>-->
</web-app>